<html>
<head>
    <title>Buy Item {{ item.pk }}</title>
    <link rel="stylesheet" href="checkout.css"/>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="checkout.js" defer></script>
</head>
<body>
<form method="post" action="/buy/{{ item.pk }}/">
    <h1>/order/{id заказа}/  -  переход к оплате заказа(Order)</h1>
    {% csrf_token %}
    <h2>{{ item.name }}</h2>
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
        var stripe = Stripe('sk_test_51OoWQhHxD2FDwQ3Cyp1qWdlBdjMntsITzx8zH0ZttaNORzQZTu2Cndz8VBa4O4S1hAPK0FBNgVBxpTP8jGXKQdJc009i2tMBiq');
        var buyButton = document.getElementById('buy-button');
        buyButton.addEventListener('click', function () {
            // Create a new Checkout Session using the server-side endpoint
            // Redirect to Stripe Session Checkout
            fetch('/buy/{{ item.pk }}/', {method: 'GET'})
                .then(response =>
            return response.json()
        )
        .
            then(session => stripe.redirectToCheckout({sessionId: session.id}))
        });
    </script>
</form>

</body>
</html>
